* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/noise.jpeg');
    background-size: cover;
    background-position: center;
}

main {
    
    min-height: calc(100vh - 120px);
}

.title, .text-footer {
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
}

.button {
    background: green;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

.footer {
    padding: 10px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
}
